<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>NSV13 Techweb</title>
    <!-- stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">
    <link rel="stylesheet" href="assets/vendor/Treant.css" type="text/css"/>
    <link rel="stylesheet" href="assets/css/RnD-tree.css">
    <!-- javascript -->
    <script src="assets/vendor/Treant.js"></script>
    <script src="assets/vendor/raphael.js"></script>
    <script src="assets/vendor/jquery.min.js"></script>
    <script src="assets/vendor/jsrender.min.js"></script>
    <script src="assets/vendor/lozad.min.js"></script>
    <script src="assets/js/RnD-tree.js"></script>
    <script src="assets/js/Zoom.js"></script>
    <script id="node-template" type="text/x-jsrender">
      <p class="node-name" title="{{:name}}">{{:name}}</p>
      {{if area == "requirement" || key == "required"}}
      {{else}}
      <p class="node-title">
        {{if tier < 0}}
          {{:category}} (Starting)
        {{else}}
         {{:category}} (Tier: {{:tier}})
        {{/if}}
      </p>
      <p class="node-cost">
        {{if nanite > 0}}
        Techweb Points Required: {{:cost}}<br>
        Nanite Points Required: {{:nanite}}
        {{else wormhole > 0}}
        Wormhole Points Required: {{:wormhole}}
        {{else}}
        Techweb Points Required: {{:cost}}
        {{/if}}
      </p>
      <p class="node-desc">
        {{:desc}}
      </p>
      {{/if}}
    </script>
  

</head>
<body>
<ul class="float-container">
  <li class="float-element">
    <a href="https://github.com/Bobbanz1/NSV-TechWeb" class="float-content">
      <h2>Github</h2>
    </a>
  </li>
  <li class="float-element">
    <a href="." class="float-content">
      <h2>Fix Broken Tree</h2>
    </a>
  </li>
  <li class="float-element">
    <a href="https://nsv.beestation13.com" class="float-content">
      <h2>NSV13</h2>
    </a>
  </li>
  <li class="float-element">
    <a id="zoom_in" class="float-content">
      <h2>Zoom In</h2>
    </a>
  </li>
  <li class="float-element">
    <a id="zoom_out" class="float-content">
      <h2>Zoom Out</h2>
    </a>
  </li>
  <li class="float-element">
    <a id="zoom_reset" class="float-content">
      <h2>Zoom Reset</h2>
    </a>
  </li>
</ul>
<div id="tree-simple" style="margin-top:50px">
    <div id="Techweb">

    </div>
</div>

</body>
</html>
